body{
    background-image: url("../images/background.jpg");
    height: 100vh !important;
}

.body{
    height: 80vh;
    border-bottom: 10px solid rgb(21, 114, 75);
}

.navbar-brand{
    width: 10vw;
    background-color: rgb(21, 114, 75);
    color: #FFF !important;
    justify-content: center;
    display: flex;
}

.nav-link:hover{
    font-weight: bold;
    color: rgb(21, 114, 75);
}

.navbar-brand{
    padding: 1vw;
    width: fit-content;
}
    
/*===================
        Main-1
===================*/

.main-1{
    background-color: #FFF;
}

.about{
    color: rgb(21, 114, 75);
    font-size: 2rem;
}

/*===================
        Main-2
===================*/

.main-2{
    background-color: #FFF;
    height: fit-content;
}

.connect{
    color:rgb(21, 114, 75);
    font-size: 1.5rem;
}

.social-git, .social-stack, .social-linkedin{
    color: grey;
}

.social-git:hover{
    color: #000;
    cursor: pointer;
}

.social-linkedin:hover{
    color: #0077B5;
    cursor: pointer;
}

.social-stack:hover{
    color: #F48024;
    cursor: pointer;
}


/*
    Media Queries
*/

@media screen and (max-width: 640px)
{
    .body{
        height: 90vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-1{
        width: 100%;
    }

    .main-2{
        margin: 3vh 0;
        width: 100%;
    }

    .socials{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media screen and (min-width: 640px) {
    .body{
        height: 100vh;
    }

    .main-1{
        width: 100%;
    }

    .main-2{
        margin: 3vh 0;
        width: 100%;
        justify-content: space-between;
    }

    .socials{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media screen and (min-width: 768px)
{
    .body{
        display: flex;
        height: 100vh;
        justify-content: space-between;
    }
    .main-1{
        width: 60%;
    }

    .main-2{
        width: fit-content;
    }
}